body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px auto;
}
.game-container {
    width: auto;
    height: auto;
    border: 2px solid rgb(9, 100, 42);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-input {
    width: 450px;
    height: 30px;
    margin: 30px auto;
    align-self: flex-start;
    border: 1px solid rgb(114, 10, 45); 
}

h3 {
    text-align: center;
}

.message {
    font-size: 24px;
    text-align: center;
}

.scores {
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
}

.btn{
    border: 1px solid black;
    background-color: rgb(231, 197, 145);
    height: 100px;
    width: 150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: 24px;;
}